#target{
font-size: 50px;
color:#27416b;
font-weight: 400;
font-family: monospace;
font-variant: normal;
}
#main{
margin-right: auto;
margin-left: auto;
font-style: italic;
font-family: monospace;
}
#d{
background-color:#cad2d7;
}
